.button {
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-width: 2px;
    border-style: solid;
}

.button:hover:not(:disabled) {
    transform: translateY(-1px);
}

.button:active:not(:disabled) {
    transform: translateY(0);
}

.button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.loading {
    position: relative;
    color: transparent !important;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top-color: currentColor;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.fullWidth {
    width: 100%;
}

.primary {
    border-color: #101419;
    color: #101419;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}

.primary:hover:not(:disabled) {
    background-color: #101419;
    color: white;
    border-color: #101419;
    box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.3);
}

.secondary {
    border-color: #98a09e;
    color: #98a09e;
    box-shadow: 0 4px 6px -1px rgba(152, 160, 158, 0.2);
}

.secondary:hover:not(:disabled) {
    background-color: #98a09e;
    border-color: #98a09e;
    color: white;
    box-shadow: 0 6px 8px -1px rgba(152, 160, 158, 0.3);
}

.danger {
    border-color: #984447;
    color: #984447;
    box-shadow: 0 4px 6px -1px rgba(220, 38, 38, 0.2);
}

.danger:hover:not(:disabled) {
    background-color: #984447;
    border-color: #984447;
    color: white;
    box-shadow: 0 6px 8px -1px rgba(220, 38, 38, 0.3);
}

.success {
    border-color: #345aad;
    color: #345aad;
    box-shadow: 0 4px 6px -1px rgba(37, 99, 235, 0.2);
}

.success:hover:not(:disabled) {
    background-color: #345aad;
    border-color: #345aad;
    color: white;
    box-shadow: 0 6px 8px -1px rgba(37, 99, 235, 0.3);
} 